In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/jiangna/Desktop/police_coor.csv')

In [3]:
df.head()

   PID        Lat       Long
0  1.0  40.720270 -74.007198
1  2.0  40.716187 -73.997465
2  3.0  40.734233 -74.005453
3  4.0  40.716362 -73.983934
4  5.0  40.726559 -73.987824

In [4]:
df['coord'] = '0'

In [5]:
df[:3]

   PID        Lat       Long coord
0  1.0  40.720270 -74.007198     0
1  2.0  40.716187 -73.997465     0
2  3.0  40.734233 -74.005453     0

In [6]:
df['coord'] = df.apply(lambda x:'(%s,%s)' % (x['Lat'],x['Long']),axis=1)

In [7]:
df.head()

   PID        Lat       Long                                   coord
0  1.0  40.720270 -74.007198                (40.7202702,-74.0071976)
1  2.0  40.716187 -73.997465         (40.716187100000006,-73.997465)
2  3.0  40.734233 -74.005453        (40.734233200000006,-74.0054532)
3  4.0  40.716362 -73.983934  (40.71636229999999,-73.98393409999998)
4  5.0  40.726559 -73.987824                (40.7265591,-73.9878238)

In [8]:
df.to_csv('/Users/jiangna/Desktop/pid_with_coor.csv')

In [30]:
work_tb['Coord']='0'

In [31]:
work_tb['Coord']=work_tb.apply(lambda x:'(%s,%s)' % (x['long'],x['lat']),axis=1)

In [32]:
work_tb[:3]

,Unnamed: 0,wrkID,long,lat,rdID,geometry,Coord
0,0,36061010000w1008,-73.971243,40.760937,153710,MULTIPOINT (-73.971243 40.760937),"(-73.971243,40.760937)"
1,1,36061010000w1013,-73.971243,40.760937,153710,MULTIPOINT (-73.971243 40.760937),"(-73.971243,40.760937)"
2,2,36061010000w1017,-73.971243,40.760937,153710,MULTIPOINT (-73.971243 40.760937),"(-73.971243,40.760937)"

In [36]:
hos_tb['Coord']= hos_tb['geometry']

In [37]:
hos_tb[:3]

,Hospital,Latitude,Longitude,geometry,Coord
0,Bronx Lebanon Hospital Center 1650 Grand Conco...,40.843396,-73.911038,"(-73.9110377,40.8433956)","(-73.9110377,40.8433956)"
1,"Calvary Hospital 1740 Eastchester Road Bronx, ...",40.848008,-73.844049,"(-73.8440486,40.8480084)","(-73.8440486,40.8480084)"
2,Jacobi Medical Center Pelham Parkway South and...,40.856029,-73.846363,"(-73.8463633,40.8560285)","(-73.8463633,40.8560285)"

In [38]:
hos_tb.to_csv('hos_with_coor.csv')

In [40]:
work_tb.to_csv('work_with_coor.csv')