In [1]:
import pandas as pd

In [2]:
import numpy as npy

In [3]:
df1 = pd.read_csv('/Users/jiangna/Desktop/normal_cal_police/hos_pol_wrkid.csv')

In [15]:
df1.shape

(36092, 1)

In [4]:
df2 = pd.read_csv('/Users/jiangna/Desktop/work_with_coor.csv')

In [16]:
df2.shape

(300272, 2)

In [5]:
df1 = df1.rename(columns={'wrkId': 'wrkID'})

In [6]:
df1 = df1.drop(['Unnamed: 0'],axis = 1)

In [7]:
df1 = df1.drop(['HPF'],axis = 1)

In [8]:
df1.head()

           wrkID
0  36005022702w7
1  36005022703w1
2  36005022702w1
3  36005022703w0
4  36005020900w6

In [9]:
df2 = df2.drop(['long', 'lat','rdID','geometry'], axis=1)

In [10]:
df2.head()

              wrkID                   Coord
0  36061010000w1008  (40.760937,-73.971243)
1  36061010000w1013  (40.760937,-73.971243)
2  36061010000w1017  (40.760937,-73.971243)
3  36061010000w1019  (40.760937,-73.971243)
4   36061010000w102  (40.760937,-73.971243)

In [11]:
df = pd.concat([df2,df1])

/Users/jiangna/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [12]:
df

                        Coord             wrkID
0      (40.760937,-73.971243)  36061010000w1008
1      (40.760937,-73.971243)  36061010000w1013
2      (40.760937,-73.971243)  36061010000w1017
3      (40.760937,-73.971243)  36061010000w1019
4      (40.760937,-73.971243)   36061010000w102
5      (40.760937,-73.971243)  36061010000w1032
6      (40.760937,-73.971243)  36061010000w1049
7      (40.760937,-73.971243)  36061010000w1053
8      (40.760937,-73.971243)  36061010000w1055
9      (40.760937,-73.971243)  36061010000w1063
10     (40.760937,-73.971243)  36061010000w1074
11     (40.760937,-73.971243)  36061010000w1085
12     (40.760937,-73.971243)  36061010000w1091
13     (40.760937,-73.971243)  36061010000w1096
14     (40.760937,-73.971243)   36061010000w110
15     (40.760937,-73.971243)  36061010000w1112
16     (40.760937,-73.971243)  36061010000w1113
17     (40.760937,-73.971243)  36061010000w1119
18     (40.760937,-73.971243)  36061010000w1135
19     (40.760937,-73.971243)  36061010000w1145
20     (40.760937,-73.971243)  36061010000w1157
21     (40.760937,-73.971243)  36061010000w1158
22     (40.760937,-73.971243)  36061010000w1161
23     (40.760937,-73.971243)   36061010000w118
24     (40.760937,-73.971243)  36061010000w1182
25     (40.760937,-73.971243)  36061010000w1189
26     (40.760937,-73.971243)  36061010000w1215
27     (40.760937,-73.971243)  36061010000w1216
28     (40.760937,-73.971243)  36061010000w1234
29     (40.760937,-73.971243)  36061010000w1239
...                       ...               ...
36062                     NaN    36085023900w69
36063                     NaN    36085023900w66
36064                     NaN    36085023900w43
36065                     NaN    36085023900w33
36066                     NaN    36085023900w14
36067                     NaN   36085023900w108
36068                     NaN    36085023900w72
36069                     NaN    36085030301w12
36070                     NaN    36085030301w43
36071                     NaN     36085030302w1
36072                     NaN    36085030301w27
36073                     NaN    36085030302w23
36074                     NaN    36085030301w34
36075                     NaN    36085030301w11
36076                     NaN    36085030301w26
36077                     NaN     36085030301w3
36078                     NaN     36085030302w4
36079                     NaN     36085030302w9
36080                     NaN    36085030302w16
36081                     NaN    36085030301w50
36082                     NaN    36085030301w29
36083                     NaN    36085023900w79
36084                     NaN    36085023900w28
36085                     NaN    36085023900w70
36086                     NaN    36085023900w98
36087                     NaN   36085023900w106
36088                     NaN    36085023900w42
36089                     NaN    36085023900w11
36090                     NaN    36085030301w23
36091                     NaN   36085023900w107

[336364 rows x 2 columns]

In [13]:
ndf = df.drop_duplicates('wrkID',keep = False).reset_index().drop(['index'],axis = 1)

In [14]:
ndf.shape

(269013, 2)

In [17]:
ndf

                                         Coord             wrkID
0                       (40.760937,-73.971243)  36061010000w1008
1                       (40.760937,-73.971243)  36061010000w1013
2                       (40.760937,-73.971243)  36061010000w1017
3                       (40.760937,-73.971243)  36061010000w1019
4                       (40.760937,-73.971243)   36061010000w102
5                       (40.760937,-73.971243)  36061010000w1032
6                       (40.760937,-73.971243)  36061010000w1049
7                       (40.760937,-73.971243)  36061010000w1053
8                       (40.760937,-73.971243)  36061010000w1055
9                       (40.760937,-73.971243)  36061010000w1063
10                      (40.760937,-73.971243)  36061010000w1074
11                      (40.760937,-73.971243)  36061010000w1085
12                      (40.760937,-73.971243)  36061010000w1091
13                      (40.760937,-73.971243)  36061010000w1096
14                      (40.760937,-73.971243)   36061010000w110
15                      (40.760937,-73.971243)  36061010000w1112
16                      (40.760937,-73.971243)  36061010000w1113
17                      (40.760937,-73.971243)  36061010000w1119
18                      (40.760937,-73.971243)  36061010000w1135
19                      (40.760937,-73.971243)  36061010000w1145
20                      (40.760937,-73.971243)  36061010000w1157
21                      (40.760937,-73.971243)  36061010000w1158
22                      (40.760937,-73.971243)  36061010000w1161
23                      (40.760937,-73.971243)   36061010000w118
24                      (40.760937,-73.971243)  36061010000w1182
25                      (40.760937,-73.971243)  36061010000w1189
26                      (40.760937,-73.971243)  36061010000w1215
27                      (40.760937,-73.971243)  36061010000w1216
28                      (40.760937,-73.971243)  36061010000w1234
29                      (40.760937,-73.971243)  36061010000w1239
...                                        ...               ...
268983                  (40.979551,-73.882188)    36119010300w27
268984                   (40.97875,-73.881923)    36119010300w31
268985          (40.979198,-73.88324300000002)    36119010300w32
268986                   (40.97909,-73.881951)    36119010300w33
268987    (40.9767560000001,-73.8870790000001)     36119010300w4
268988                  (40.979551,-73.882188)    36119010300w44
268989            (40.97842,-73.8833509999999)    36119010300w46
268990                   (40.981108,-73.87995)    36119010300w47
268991                  (40.978679,-73.881485)    36119010300w49
268992                  (40.979551,-73.882188)    36119010300w50
268993            (40.97842,-73.8833509999999)    36119010300w51
268994          (40.97938900000001,-73.883525)    36119010300w59
268995    (40.9767560000001,-73.8870790000001)    36119010300w64
268996          (40.97938900000001,-73.883525)    36119010300w71
268997                   (40.97909,-73.881951)    36119010300w76
268998                   (40.97909,-73.881951)    36119010300w77
268999                  (40.981046,-73.880193)    36119010300w79
269000                  (40.982333,-73.883116)     36119010300w8
269001                  (40.979551,-73.882188)    36119010300w82
269002                  (40.981046,-73.880193)    36119010300w87
269003  (40.97838400000001,-73.88534399999998)    36119010300w90
269004                  (40.978679,-73.881485)    36119010300w94
269005                  (40.980873,-73.864598)   36119010701w103
269006          (40.982012,-73.85493699999998)     36119010701w2
269007                  (40.980873,-73.864598)    36119010701w23
269008                  (40.981667,-73.862786)    36119010701w30
269009                   (40.98195,-73.860297)    36119010701w36
269010                  (40.980873,-73.864598)    36119010701w43
269011                  (40.981667,-73.862786)     36119010701w6
269012                   (40.98195,-73.860297)    36119010701w75

[269013 rows x 2 columns]

In [18]:
ndf.to_csv('/Users/jiangna/Desktop/work_without_hos_pol.csv')