In [1]:
import pandas as pd
import numpy as np

In [2]:
#Get Data that is population in each wrkplace
sumpop = pd.read_csv('/Users/jiangna/Desktop/distpopsum.csv')

In [3]:
#Remove a useless column in sumpop
sumpop = sumpop.drop(['Unnamed: 0'],axis = 1)

In [5]:
#Get Table which sort by the distance to each hos
wpop = pd.DataFrame()
for a in range(2,63):
    df1 = sumpop.iloc[:,[0,1,a]]
    b = str(a-1)
    df1 = df1.sort_values(by = b).reset_index().drop(['index'],axis =1).drop(b,axis = 1)
    df1['HPF'] = a-1
    wpop = wpop.append(df1)

In [6]:
wpop.head()

           wrkID  count  Type
0  36005022702w7     10     1
1  36005022703w1      3     1
2  36005022702w1      1     1
3  36005022703w0      1     1
4  36005020900w6      2     1

In [13]:
wpop.Type.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61])

In [8]:
hospop = pd.read_csv('/Users/jiangna/Desktop/hospop.csv')

In [9]:
bond = []
len2 = len(hospop.iloc[:,1])
for j in range(0,len2):
    pop = hospop.iloc[j,1]
    bond.append(pop)

In [12]:
print(len(bond))

61

In [7]:
#Get groups based on Type
tgroup = wpop.groupby(wpop['Type'])

In [28]:
#New DataFrame to hold the results
wp = pd.DataFrame()
#Nested For Loops to Seltect the Group Fisrt and Then To the Selection by population Sum
for i in range (1,62):
    tdf = tgroup.get_group(i)
    psum = 0
    for j in range (0,len(tdf)):
        #Use while to Set the Calculation bondary by thing the hospital population
        while psum < bond[i-1]:
            psum = psum + tdf.iloc[j,1]
            wdf = tdf.iloc[0:j,0]
            #print(bond[i-1])
            break
    wp = wp.append(wdf,ignore_index = True)
    wpt = wp.T

In [41]:
#convert Multi Col into One Col
wrkpl = pd.melt(wpt).dropna(subset=['value'])

In [46]:
print(wrkpl.head())

   BLT          wrkId
0    0  36005022702w7
1    0  36005022703w1
2    0  36005022702w1
3    0  36005022703w0
4    0  36005020900w6

In [45]:
wrkpl.columns = ['BLT', 'wrkId']

In [47]:
wrkpl.to_csv('/Users/jiangna/Desktop/hos_wrkid.csv')